
*.bgw
*.DAT

*.png
config/addons/luashitacast/common/gcauto.lua
addons/pokecity/pokecity.lua
config/addons/pokecity/defaults/settings.lua
config/addons/pokecity/Igotudis_540101/settings.lua
config/addons/pokecity/Wigmasterflex_335271/settings.lua
